

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: black;
}

/* shared style */

.text-primary{
    color: #4E47FF;
}

.btn-primary{
    background-color: #4E47FF;
    font-weight: bold;
    font-size: 16px;
    color: white;
    border: none;
    padding: 12px 36px;
    border-radius: 8px;


}

/* header */

.header{
    background-image: url('../assets/Hero-bg.png');
}

/* Nav styles */

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0px 150px;
}

.nav-title{
    
    font-size: 34px;
}

nav ul li {
    list-style: none;
    
}

/* banner styles */

.banner-title{
    color: #252432;
    font-size: 65px;
    font-weight: bold;
    margin: 0 auto;
    padding: 158px 152px 267.5px 267.5px;
    text-align: center;
    
}

/* action styles*/

.action-title{
    font-weight: bold;
    font-size: 42px;

}

.action{
    display: flex;
    justify-content: space-around;
    margin: 116px 141px 116px 159px;

}

.action-profile{
    width: 403px;
    border-radius: 20px;
}
.action-content{
    max-width: 517px;
}

.action-description{
    color: rgba(37, 36, 50, 0.5);
    font-size: 24px;
    margin-bottom: 30px;
}

/* productive styles */

.productive-title{
    font-size: 38px;
    font-weight: bold;
   
}

.productive{
     color: #252432;
    background-color: rgba(78, 71, 255, 0.1);
    border-radius: 10px;
    max-width: 700px;
    margin: 0 auto;
    padding: 50px 140px;
    text-align: center;
    margin-top: 166px;

}

.productive-items{
    display: flex;
    justify-content: space-around;
}
.item-title{
    font-weight: bold;
    font-size: 80px;
    color: #4E47FF;
    margin-bottom: 10px;
}

.item-description{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
    
}

/* touch styles */

.touch{
    padding: 130px 230px;
    display: flex;
    gap: 100px;
}

.touch-column{
    width: 50%;
}

section input[type="email"] section input[type="text"], section textarea{
    height: 64px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;

}

/* footer styles */

.logo-title{
    font-size: 100px;
    font-weight: bold;
    color: #4E47FF;
    margin-bottom: 50px;
}
.logo-description{
    font-size: 15px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 30px;
    
}
.logo{
    text-align: center;
    
}
.logo-item{
    display: flex;
    justify-content: space-around;

}